{erl_opts, [debug_info]}.
{deps, []}.

{pre_hooks,[
	{"(freebsd|netbsd|openbsd)", compile, "gmake --no-print-directory -C c_src"},
	{"(linux|darwin|solaris)",   compile, "make -C c_src"}
]}.
{post_hooks,[
	{"(freebsd|netbsd|openbsd)", compile, "gmake --no-print-directory -C c_src"},
	{"(linux|darwin|solaris)",   compile, "make -C c_src"}
]}.